# Twitch Developer Consoleでアプリを作成して入れる
TWITCH_CLIENT_ID=44twth2fr9n5etf2i4fhl5p4xis2zn
TWITCH_CLIENT_SECRET=dbrzxqxbygwzy4nfk3abnq1hyd6nll

# Google CloudでYouTube Data API v3を有効化して入れる
YOUTUBE_API_KEY=AIzaSyCCGnsZFXuKvGwIRhAHZu05WJTupZvSm0w
