# Twitch Developer Consoleでアプリを作成して入れる
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Google CloudでYouTube Data API v3を有効化して入れる
YOUTUBE_API_KEY=

# Google SheetsをCSV公開してURLを入れる
GOOGLE_SHEET_CSV_URL=
GOOGLE_SETTINGS_CSV_URL=
